
module my-ftdc 1.0;

require {
	type mongod_t;
	type var_lib_nfs_t;
	class dir search;
}

#============= mongod_t ==============
allow mongod_t var_lib_nfs_t:dir search;
